body {
    background-image: url('../images/background.jpg'); /* Adjust the path if necessary */
    background-size: cover; /* Makes sure the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    min-height: 100vh; /* Ensures the background covers the entire viewport height */
}


.about-page {
    background-image: url("{% static 'myapp/images/about-background.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust as necessary */
    color: white; /* Optional: change text color for contrast */
}
