<!-- cancel_appointment.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cancel Appointment</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    {% include 'myapp/navbar.html' %}
    <div class="container mt-5">
      <h2>Cancel Appointment</h2>
      <p>
        Are you sure you want to cancel your appointment on {{ appointment.date
        }} at {{ appointment.time }}?
      </p>

      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Cancel</button>
        <a href="{% url 'appointment_list' %}" class="btn btn-secondary"
          >No, Go Back</a
        >
      </form>
    </div>
  </body>
</html>
