{% extends "myapp/base.html" %}

{% block title %}Home{% endblock %}
{% block body_class %}home-page{% endblock %}

{% block content %}
<style>
    .home-text {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .home-text h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .home-text p {
        font-size: 1.2rem;
        line-height: 1.6;
    }
</style>

<div class="home-text">
    <h1>About Us</h1>
    <p class="contact-page paragraph-move">
        Welcome to Momentum Bicycle Workshop, your trusted partner for all things cycling!
        Founded by passionate cyclists and mechanics, we believe in the power of two wheels to inspire adventure and
        promote a healthy lifestyle.

        At Momentum, we offer a comprehensive range of bicycle services, including repairs, maintenance, and custom
        builds,
        tailored to meet the unique needs of every rider. Our team of experienced technicians is dedicated to providing
        top-notch service
        with a personal touch, ensuring that your bike performs at its best.

        Whether you’re a casual rider or a seasoned enthusiast, we’re here to help you hit the road with confidence.
        Join our community of bike lovers and discover a world of cycling possibilities!

        Ride with us, and let’s keep the momentum going!
    </p>
</div>

{% endblock %}